@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  flex: auto;
  padding: 0.25rem;
  margin: 0;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: BrittanicDisciple;
  src: url("../public/fonts/Discipuli\ Britannica.ttf");
}